* {
    background-color: rgba(58, 24, 153, 0.616);
    color: rgb(255, 236, 196);
}

.title {
    text-align: center;
}

.image {
    width: 200px;
    margin: 0px auto;
    display: block;
}

.link {
    color: rgb(202, 191, 40);
}